<mat-toolbar class="mat-elevation-z1 stbui-background-white">
  <mat-toolbar-row>
    <app-brand class="stbui-background-blue" style="margin-left:-16px;" brand="Mail">
    </app-brand>

    <div fxFlex="auto">
      <app-search placeholder="Search for.."></app-search>
    </div>
    <span fxFlex></span>
    <!-- <button mat-icon-button>
      <mat-icon>apps</mat-icon>
    </button> -->
    <!-- <stbui-toolbar-notification></stbui-toolbar-notification>
    <stbui-toolbar-user></stbui-toolbar-user> -->
  </mat-toolbar-row>
</mat-toolbar>

<div fxLayout="row" fxLayoutAlign="start start">
  <div class="sidenav" fxFlex="250px">
    <div class="compose-container">
      <div class="compose" matRipple (click)="openComposeDialog()">
        Write a Document
      </div>
    </div>

    <div class="nav-list">
      <mat-nav-list>
        <mat-list-item class="active">
          <mat-icon matListIcon>mail</mat-icon>
          <span matLine>Documents</span>
          <span>4</span>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </div>

  <div class="mail-list" fxFlex>
    <app-toolbar [mail]="shownMailDetail" [itemCount]="lines" (onForward)="onForward($event)">
    </app-toolbar>

    <!-- <app-list *ngIf="!shownMailDetail" [mails]="shownMails | async" (onOpenMailDetial)="openMailDetial($event)">
    </app-list> -->
    <app-document-list *ngIf="!shownMailDetail" [mails]="shownMails | async" (onOpenMailDetial)="openMailDetial($event)">
    </app-document-list>

    
    <app-document-detail *ngIf="shownMailDetail" [mail]="shownMailDetail">
    </app-document-detail>
    <!-- <app-detail *ngIf="shownMailDetail" [mail]="shownMailDetail">
    </app-detail> -->

  </div>
</div>