<div class="mail-detail" *ngIf="mail">
  <div class="mail-subject">{{ mail.subject }}</div>

  <div class="mail-header" fxLayout="row">
    <!-- files -->
    <!-- <img class="avatar" src="assets/images/avatars/noavatar.png" /> -->

    <!-- <div class="mail-info" fxLayout="column">
      <span class="from">{{ mail.from.name }}</span>
      <span class="to">
        Send To Me
        <mat-icon>arrow_drop_down</mat-icon>
      </span>
    </div> -->
    <!-- <span fxFlex></span> -->
  </div>
</div>

<mat-grid-list cols="3">

  <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="colorOne">
    <mat-list>
      <mat-list-item class="text-inside-grid">
        <div mat-line>
          Status: {{ mail.status }}
        </div>
        <div mat-line>
          Nama File: {{ mail.name }}
          <!-- 1.19 MiB, application/pdf -->
        </div>
        <div mat-line>
          Oleh: ADMIN
          <!--  {{ mail.owner }} -->
        </div>
        <div mat-line>
          Tanggal Upload: {{ mail.when | date:'dd, MMMM, yyyy' }}
        </div>
        <div mat-line>
          Deskripsi:
          <span style="color: blueviolet;">
            {{ mail.description }}
          </span>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="3" [style.background]="colorOne">
    <mat-list-item class="button-inside-grid">
      <div mat-line>
        <a mat-stroked-button target="_blank" [href]="mail.url">
          Lihat Online / Unduh
        </a>
      </div>

      <!-- <div mat-line>
        <button mat-stroked-button>
          Lihat Online
        </button>
      </div> -->
      <div mat-line>
        <button mat-stroked-button (click)="openChangeStatus()">
          Ganti status
        </button>
      </div>
      <div mat-line>
        <button mat-stroked-button>
          Edit Deskripsi
        </button>
      </div>
    </mat-list-item>
  </mat-grid-tile>
</mat-grid-list>